.header {
    flex-direction: row;
    background-color: #263238;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

.search {
    display: flex;
    border-radius: 4px;
    width: 300px;
    background-color: #263238;
    margin: 10px;
    align-content: baseline;
}

@media screen and (min-width: 600px) {
    .header {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.dispNone{
    display:none;
}

.dispBlock {
    display: block;
}

.red
{
    color: red;
}

.tabs{
    margin-bottom: 20px;
}

.login-modal {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.login-modal-content {
    background-color: white;
    padding-bottom: 20px;
    outline: none;
}

.header-menu {
    outline: none;
}

.profile-name {
    color: #c2c2c2;
    margin-left: 2px;
}

.btn-header {
    margin-right: 10px;
}

.text-input {
    width: 80%;
    margin: 20% ;
}